.reg {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 50px;
}
.title {
	position: absolute;
	top: 15vh;
	left: 5vw;
	font-size: 42px;
	font-weight: bold;
	margin-left: 10vw;
	align-self: flex-start;
}
.reg > form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 75px;
}
.info > a {
	text-decoration: underline;
}
